/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items#making_things_wrap */

#autocomplete-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.hint-grid {
  height: 90px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding-bottom: 10px;
}

.hint-item {
  margin-right: 8px;
  padding-bottom: 4px;

  color: gray;
  
}